:root {
  --black: #171219;
  --white: #ffffff;
  --blue: #225560;
  --light-blue: #5db7de;
  --yellow: #fbaa29;
  --light-yellow: #f9c80e;
  --red: #df2935;
  --light-red: #fc8c44;
  --green: #49a078;
  --light-green: #91f5ad;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--black);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

* {
  box-sizing: border-box;
}
